* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

  font-family: $font-primary-family;
  font-size: 16px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  //@media (min-width: 2100px) {
  //
  //}
  //
  //@media (max-width: 1600px) {
  //
  //}
  //
  //@media (max-width: 1460px) {
  //
  //}
  //
  //@media (max-width: 1280px) {
  //
  //}
}

body {

  position: absolute;

  min-width: rem(320);
  width: 100%;
  height: 100%;

  font-size: rem(14);
  line-height: 1.5;
  box-sizing: content-box;
  background: $color-background;
  color: $color-text;
  

  .first {

    font-size: rem(16);
    padding: rem(100);


    background-color: red;

  }

  .first-second {
    font-size: em(16);

    padding: em(50);

    background-color: green;
  }
}

button {
  cursor: pointer;
}

.container {
  margin: auto;
}
ul,li{
  text-decoration: none;
  list-style-type: none;
}
// h1-h6
h1 {
  font-size: 49px;
  color: rgb(58, 58, 58);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;

  transform: matrix(0.81769783395123, 0, 0, 0.81769783395123, 0, 0);
}
//
//h1, .h1 {
//  font-size: 49px;
//  color: rgb(58, 58, 58);
//  font-weight: 600;
//  line-height: 1.2;
//  text-align: center;
//}
h2 {
  font-size: 24.4px;
  color: rgb(58, 58, 58);
  text-align: center;
  font-weight: 200;

}

h3 {
  font-size: 24px;
  color: rgb(255, 255, 255);

  font-weight: bold;
  line-height: 0.917;

  transform: matrix(0.99959934973663, 0, 0, 0.98876404494383, 0, 0);
}

h4 {

  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

h5 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: bold;

  position: relative;
  padding-top: 30px;
  z-index: 225;
}

h6 {
  color: rgb(58, 58, 58);
  font-size: 18px;
  font-weight: bold;
}
