// Function for convert to em & rem
$baseFontSize: 16;

//to rem
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

//to em
@function em($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

@function use($key) {
  @return map-get($theme-map, $key);
}

@function z-index($key) {
  @return map-get($z-index, $key);
}
