.mb50 {
  margin-bottom: 50px;
}
.mb140{
  margin-top: 9px;
  margin-bottom: 130px;
}

.ml6 {
  margin-left: -6px;
}

.mb75 {
  margin-bottom: 75px
}

.pb110 {
  padding-bottom: 110px;
}
.fwb{
  font-weight: 600;
  font-size: 60px;
}
