/*
`* In this file, all the variables associated with the project are stored.
//*/

//*  Content variables
$contentWidthLg: rem(1600);
$contentWidth: 90%;
//$contentWidthSm: rem(100);
//$contentPadding: rem(16);
//$contentGutter: rem(32/2);

$wideScreens: (
        phonesSm: 340px,
        phones: 480px,
        tablet: 760px,
        laptop: 992px,
        desktopSm: 1020px,
        desktopMd: 1170px,
        desktop: 1280px,
        notebook: 1400px,
        notebookLg: 1600px,
        hd: 1800px,
        retina: 2100px,
        retina4k: 3656px,
        retina5k: 5100px,
        retina8k: 7600px
);

$elemRadius: rem(6);

//* Colors pallet
$dark: #212529;;
$color-background: #FEFFFF;
$color-text: $dark;

//* Shadows
$card-shadow: 0 rem(20) rem(20) rem(-10) rgba(0, 0, 0, 0.09);
$card-shadow-second: 0 rem(5) rem(10) 0 rgba(0, 0, 0, 0.05);

// * Fonts
$font-primary-family: "Lato", sans-serif; // Arial, sans-serif;
//$font-secondary-family: "Proxima Nova";
//$font-BerlingskeSlab-tn: 'BerlingskeSlab Tn';
//$font-BerlingskeSlab-lt: 'BerlingskeSlab Lt';


