footer.container-fluid
    .container
        button.footer_button.col-sm-5.col-lg-4(type='button', name='button')
            img.mr15(src='img/airplane-in-vertical-ascending-position.svg', alt='')
            | Бронирование авиабилетов
        button.footer_button.col-sm-5.col-lg-4(type='button', name='button')
            img.mr15(src='img/building_footer.svg', alt='')
            | Бронирование авиабилетов
        .footer_text.col-sm-7
            | AVIATICKETS.COM.UA — туристический сервис, который помогает подобрать, проанализировать и приобрести
            | лучшие
            | предложения перелета и проживания в любой точке мира. Вся неоходимая путешественнику информация - именно
            | здесь!
    .footer_text_right
        span.footer_text_small Все денежные операции надежно защищены
        .footer_photos
            img.mr5(src='img/visa.png', alt='visa')
            img.mr5(src='img/privat24.png', alt='privat24')
            img.mr5(src='img/mc.png', alt='mastercard')
            img.mr5(src='img/maestro.png', alt='maestro')
    ul.footer_ul.row.col-lg-8.col-sm-10.d-flex.justify-content-between
        li.footer_text_bottom
            span Условия предоставления услуг
        li.footer_text_bottom
            span Политика конфиденциальности
        li.footer_text_bottom
            span Авиалинии
        li.footer_text_bottom
            span Акции
        li.footer_text_bottom
            span Помощь
        li.footer_text_bottom
            span Реламодателям
