header.header
    .header__logo
        a(href='#')
            img.logo(src='img/logo.svg', alt='')

    .header__block

    .header__text
        a(href='#')
            | У вас возникли вопросы
            br
            |  получите консультацию

    .header__phone
        a(href='#') +380 63 156 20 21

    .header__row
        .header__account
            a(href='')
                span.header_account_icon_text Вход в аккаунт

        .header__language
            a(href='')
                img.language(src='img/united-states.svg', alt='language')
