#popup_feedback.popup.modal
    .form_head
        .img
            img.logo_top(src='img/logo_top_mobile.png', alt='Logo', title='Logo')
        div
            .sandwich.active(data-fancybox-close='')
                .sw-topper
                .sw-bottom
                .sw-footer
    .success_window
        .text
            | Материалы высланы на ваш e-mail
            .success_email

    #popup_feedback_form.form
        .big_book
            img(src='img/big_book.png', alt='Book')
        .title
            span Отправим SMS
            | с презентацией, сметой, отчете о доходах и расходах работающих студий
        // <form action="mail.php">
        form#call_me(action='mail.php')
            .input
                input(form='call_me', type='hidden', name='title', value='Заказ обратного звонка')
                input(form='call_me', type='hidden', name='UTM_CAMPAIGN')
                input(form='call_me', type='hidden', name='UTM_CONTENT')
                input(form='call_me', type='hidden', name='UTM_MEDIUM')
                input(form='call_me', type='hidden', name='UTM_SOURCE')
                input(form='call_me', type='hidden', name='UTM_TERM', value='Заказ обратного звонка')
                input.input_email(form='call_me', type='email', name='email', placeholder='ВАШ E-MAIL')
                input.input_phone(form='call_me', type='tel', name='phone', placeholder='ВАШ ТЕЛЕФОН', required='')
                .descr Без навязчивых звонков
            button.button.send(form='call_me', type='button') Отправить
            // ? /*?
            .input
                label.checkbox_label(for='policy1')
                    input#policy1.checkbox(type='checkbox', name='policy', checked='')
                    span.custom_checkbox
                    span.check_descr
                        | Нажимая на кнопку, я принимаю условия
                        a(href='/policy.php') соглашения
                        | .
            // ?php */ ?
