.slider_n_button
    .slider_wrap
        .second_text Мы <span>берём на себя</span> самые ответственные 90% процессов бизнеса где «живут» риски

        .right.owl-carousel.first_slider
            .slider_item.item
                .n 01
                .text  непрерывно обучаем<br>персонал<br>каждую неделю<br>

            .slider_item.item
                .n 02
                .text  контакт-центр,<br>который <br>приводит клиентов<br>

            .slider_item.item
                .n 03
                .text  настраиваем рекламу<br>и предоставляем<br>контент<br>

            .slider_item.item
                .n 04
                .text  выполняем <br>видео-контроль<br>ваших сотрудников<br>


    .button_block
        .button_inner(data-fancybox="" data-src="#popup_feedback") получить презентацию, смету, финансовый отчет работающих студий
