<footer class="footer__section ">
    <div class="footer__content container">
        <div class="footer__block">
            <div class="footer__buttons">
                <button type="button" class="footer__button" name="button">
                    <img src="img/airplane-in-vertical-ascending-position.svg" class="footer__icon" alt="">Бронирование
                    авиабилетов
                </button>
                <button type="button" class="footer__button" name="button">
                    <img src="img/building_footer.svg" class="footer__icon" alt="">Бронирование
                    авиабилетов
                </button>
            </div>

            <div class="footer__text col-md-6 col-lg-6 col-xl-8  ">AVIATICKETS.COM.UA — туристический сервис, который помогает подобрать, проанализировать и приобрести лучшие предложения перелета и проживания в любой точке мира. Вся неоходимая путешественнику информация - именно здесь!</div>


            <div class="footer__right-block col-md-6 col-lg-6 col-xl-4 ">
                <div class="footer__text-small">Все денежные операции надежно защищены</div>
                <div class="footer__photo">
                    <img class="footer__photo-item" src="img/visa.png" alt="visa">
                    <img class="footer__photo-item" src="img/privat24.png" alt="privat24">
                    <img class="footer__photo-item" src="img/mc.png" alt="mastercard">
                    <img class="footer__photo-item" src="img/maestro.png" alt="maestro">
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-10">
                <nav class="footer__nav">
                    <a href="#" class="footer__nav-item">Условия предоставления услуг</a>
                    <a href="#" class="footer__nav-item">Политика конфиденциальности</a>
                    <a href="#" class="footer__nav-item">Авиалинии</a>
                    <a href="#" class="footer__nav-item">Акции</a>
                    <a href="#" class="footer__nav-item">Помощь</a>
                    <a href="#" class="footer__nav-item">Реламодателям</a>
                </nav>
            </div>
        </div>
    </div>


</footer>
