<div class="header__gradient"></div>
<header class="header">

    <div class="header__logo  "><a href="#"><img class="logo" src="img/Vector Smart Object.png" alt=""></a></div>

    <div class="header__text "><a href="#">У вас возникли вопросы<br> получите консультацию</a></div>
    <div class="header__phone"><a href="#">+380 63 156 20 21</a></div>

    <div class="header__account "><a href="">
        <div class="header__account-icon-text"><img src="img/man.svg" class="header__account-icon-img" alt=""><span
                class="header__account-signin">Вход в аккаунт</span>

        </div>
    </a>
    </div>

    <div class="header__language ">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <img class="sub-menu__item-img" src="img/united-states.svg"  alt="language">
            </button>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">  <img class="sub-menu__item-img" src="img/united-states.svg" alt="language"></a>
                <a class="dropdown-item" href="#"> <img class="sub-menu__item-img" src="img/russia.svg" alt="language"></a>
                <a class="dropdown-item" href="#">  <img class="sub-menu__item-img" src="img/ukraine.svg" alt="language"></a>
            </div>
        </div>

    </div>

        <!--<a class="header__menu" href="javascript:void(0);" tabindex="1">-->
            <!--<img class="language" src="img/united-states.svg" alt="language">-->
        <!--</a>-->
        <!--<ul class="sub-menu">-->
            <!--<li><a href="#1" class="sub-menu__item sub-menu__item-active">-->
                <!--<img class="sub-menu__item-img" src="img/united-states.svg" alt="language">-->
            <!--</a>-->
            <!--</li>-->
            <!--<li><a href="#2" class="sub-menu__item">-->
                <!--<img class="sub-menu__item-img" src="img/russia.svg" alt="language">-->
            <!--</a>-->
            <!--</li>-->
            <!--<li><a href="#3" class="sub-menu__item">-->
                <!--<img class="sub-menu__item-img" src="img/ukraine.svg" alt="language">-->
            <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</header>
