<section class="section-banner">
    <h1 class="section-banner__title ">Поиск дешевых авиабилетов</h1>
    <h2 class="section-banner__title--sub ">Проверим все цены авиакомпаний, лоукостеров и онлайн продавцов</h2>

    <div class="section-banner__tabs container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                <a class="nav-item nav-link active"
                   id="nav-home-tab"
                   data-toggle="tab"
                   href="#nav-home"
                   role="tab" aria-controls="nav-home" aria-selected="true">
                    <img class="nav-link-img"
                         src="/img/percentage.svg"
                         alt="">
                    Авиабилеты
                </a>

                <a class="nav-item nav-link"
                   id="nav-profile-tab"
                   data-toggle="tab"
                   href="#nav-profile"
                   role="tab" aria-controls="nav-profile" aria-selected="false">
                    <img class="nav-link-img"
                         src="/img/coupon.svg"
                         alt="">
                    Авиаскидки
                </a>
                <a class="nav-item nav-link"
                   id="nav-contact-tab"
                   data-toggle="tab"
                   href="#nav-contact"
                   role="tab" aria-controls="nav-contact" aria-selected="false">
                    <img class="nav-link-img"
                         src="/img/3d-building.svg"
                         alt="">
                    Отели & Хостелы
                </a>
                <a class="nav-item nav-link"
                   id="nav-contact-tab"
                   data-toggle="tab"
                   href="#nav-hotel"
                   role="tab" aria-controls="nav-contact" aria-selected="false">
                    <img class="nav-link-img"
                         src="/img/hotel-building.svg"
                         alt="">
                    Авиа + Отель
                </a>
            </div>
        </nav>

        <form class="section-banner__form row">
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active white"
                     id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="section-banner__radio container">
                        <div class="section-banner__form-one ">
                            <input class="radio" id="inlineRadio1" type="radio" checked="" name="inlineRadioOptions"
                                   value="option1">
                            <label class="section-banner__form-text" for="inlineRadio1"> В одну сторону</label>
                        </div>
                        <div class="section-banner__form-round">
                            <input class=" radio" id="inlineRadio2" type="radio"
                                   name="inlineRadioOptions"
                                   value="option2">
                            <label class="section-banner__form-text" for="inlineRadio2">В обе стороны<img
                                    src="/img/sale.png" class="sale" alt=""> </label>
                        </div>
                        <div class="section-banner__form-sale"><span><img src="img/check.svg"
                                                                          class="section-banner__form-check"
                                                                          alt="">Отели со скидкой</span>
                        </div>
                    </div>

                    <div class="section-banner__input container row ">
                        <div class="section-banner__input-item section-banner__input-location ">
                            <label for="Location">Откуда</label>
                            <input class="form-control section-banner__input-01 input__placeholder input__settings"
                                   id="Location" type="text" placeholder="Город отлета">
                        </div>

                        <img class="form_pointer" src="img/pointer.svg" alt="">

                        <div class="section-banner__input-item section-banner__input-where  ml6">
                            <label for="where">Куда</label>
                            <input class="form-control plane_icon section-banner__input-02 input__placeholder  input__settings"
                                   id="where" type="search"
                                   placeholder="Город прилета">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" id="There"
                                   type="date"
                                   value="2018-12-19" pattern="[0-9]{4}-[0-9]{2}"
                                   min="2018-12-19">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" type="date" id=""
                                   value="2018-12-19" min="2018-12-19">
                        </div>
                        <div class="section-banner__centering">
                            <div class="section-banner__input-item section-banner__input-hidden">
                                <select class="input__settings section-banner__input-time">
                                    <option selected="">1 человек, эконом</option>
                                    <option value="1">2 человек, эконом</option>
                                    <option value="2">1 человек, бизнес</option>
                                    <option value="3">Уточнить по телефону</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade white"
                     id="nav-profile" role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                    <div class="section-banner__radio container">
                        <div class="section-banner__form-one ">
                            <input class="radio" id="inlineRadio1" type="radio" checked="" name="inlineRadioOptions"
                                   value="option1">
                            <label class="section-banner__form-text" for="inlineRadio1"> В одну сторону</label>
                        </div>
                        <div class="section-banner__form-round">
                            <input class="form-check-input radio" id="inlineRadio2" type="radio"
                                   name="inlineRadioOptions"
                                   value="option2">
                            <label class="section-banner__form-text" for="inlineRadio2"> В обе стороны</label>
                        </div>
                        <div class="section-banner__form-round hide">
                            <input class="form-check-input checkbox " id="inlineRadio3" type="checkbox"
                                   name="inlineRadioOptions2"
                                   value="option2">
                            <label class="section-banner__form-text" for="inlineRadio3">Скидка более 20%</label>
                        </div>
                        <div class="section-banner__form-sale"><span><img src="img/check.svg"
                                                                          class="section-banner__form-check"
                                                                          alt="">Отели со скидкой</span>
                        </div>
                    </div>

                    <div class="section-banner__input container row ">
                        <div class="section-banner__input-item section-banner__input-location ">
                            <label for="Location">Откуда</label>
                            <input class="form-control section-banner__input-01 input__placeholder input__settings"
                                   id="Location" type="text" placeholder="Город отлета">
                        </div>

                        <img class="form_pointer" src="img/pointer.svg" alt="">

                        <div class="section-banner__input-item section-banner__input-where  ml6">
                            <label for="where">Куда</label>
                            <input class="form-control plane_icon section-banner__input-02 input__placeholder  input__settings"
                                   id="where" type="search"
                                   placeholder="Город прилета">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" id="There"
                                   type="date"
                                   value="2018-12-19" pattern="[0-9]{4}-[0-9]{2}"
                                   min="2018-12-19">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" type="date" id=""
                                   value="2018-12-19" min="2018-12-19">
                        </div>
                        <div class="section-banner__centering">
                            <div class="section-banner__input-item section-banner__input-hidden">
                                <select class="input__settings section-banner__input-time">
                                    <option selected="">1 человек, эконом</option>
                                    <option value="1">2 человек, эконом</option>
                                    <option value="2">1 человек, бизнес</option>
                                    <option value="3">Уточнить по телефону</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade white"
                     id="nav-contact" role="tabpanel"
                     aria-labelledby="nav-contact-tab">
                    <div class="section-banner__radio container">
                        <div class="section-banner__form-one ">
                            <input class="radio" id="inlineRadio1" type="radio" checked="" name="inlineRadioOptions"
                                   value="option1">
                            <label class="section-banner__form-text" for="inlineRadio1"> В одну сторону</label>
                        </div>
                        <div class="section-banner__form-round">
                            <input class="form-check-input radio" id="inlineRadio2" type="radio"
                                   name="inlineRadioOptions"
                                   value="option2">
                            <label class="section-banner__form-text" for="inlineRadio2"> В обе стороны</label>
                        </div>
                        <div class="section-banner__form-sale"><span>
                            <img src="img/check.svg"
                                 class="section-banner__form-check"
                                 alt="">Отели со скидкой</span>
                        </div>
                    </div>

                    <div class="section-banner__input container row ">
                        <div class="section-banner__input-item section-banner__input-location ">
                            <label for="Location">Откуда</label>
                            <input class="form-control section-banner__input-01 input__placeholder input__settings"
                                   id="Location" type="text" placeholder="Город отлета">
                        </div>

                        <img class="form_pointer" src="img/pointer.svg" alt="">

                        <div class="section-banner__input-item section-banner__input-where  ml6">
                            <label for="where">Куда</label>
                            <input class="form-control plane_icon section-banner__input-02 input__placeholder  input__settings"
                                   id="where" type="search"
                                   placeholder="Город прилета">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" id="There"
                                   type="date"
                                   value="2018-12-19" pattern="[0-9]{4}-[0-9]{2}"
                                   min="2018-12-19">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" type="date" id=""
                                   value="2018-12-19" min="2018-12-19">
                        </div>
                        <div class="section-banner__centering">
                            <div class="section-banner__input-item section-banner__input-hidden">
                                <select class="input__settings section-banner__input-time">
                                    <option selected="">1 человек, эконом</option>
                                    <option value="1">2 человек, эконом</option>
                                    <option value="2">1 человек, бизнес</option>
                                    <option value="3">Уточнить по телефону</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade white"
                     id="nav-hotel" role="tabpanel"
                     aria-labelledby="nav-contact-tab">
                    <div class="section-banner__radio container">
                        <div class="section-banner__form-one ">
                            <input class="radio" id="inlineRadio1" type="radio" checked="" name="inlineRadioOptions"
                                   value="option1">
                            <label class="section-banner__form-text" for="inlineRadio1"> В одну сторону</label>
                        </div>
                        <div class="section-banner__form-round">
                            <input class="form-check-input radio" id="inlineRadio2" type="radio"
                                   name="inlineRadioOptions"
                                   value="option2">
                            <label class="section-banner__form-text" for="inlineRadio2"> В обе стороны</label>
                        </div>
                        <div class="section-banner__form-round hide">
                            <input class="form-check-input checkbox " id="inlineRadio3" type="checkbox"
                                   name="inlineRadioOptions2"
                                   value="option2">
                            <label class="section-banner__form-text" for="inlineRadio3">3 звезды и выше</label>
                        </div>
                        <div class="section-banner__form-sale"><span>
                            <img src="img/check.svg"
                                 class="section-banner__form-check"
                                 alt="">Отели со скидкой</span>
                        </div>
                    </div>
                    <div class="section-banner__input container row ">
                        <div class="section-banner__input-item section-banner__input-location ">
                            <label for="Location">Откуда</label>
                            <input class="form-control section-banner__input-01 input__placeholder input__settings"
                                   id="Location" type="text" placeholder="Город отлета">
                        </div>

                        <img class="form_pointer" src="img/pointer.svg" alt="">

                        <div class="section-banner__input-item section-banner__input-where  ml6">
                            <label for="where">Куда</label>
                            <input class="form-control plane_icon section-banner__input-02 input__placeholder  input__settings"
                                   id="where" type="search"
                                   placeholder="Город прилета">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" id="There"
                                   type="date"
                                   value="2018-12-19" pattern="[0-9]{4}-[0-9]{2}"
                                   min="2018-12-19">
                        </div>
                        <div class="section-banner__input-item section-banner__input-there">
                            <label for="There">Туда</label>
                            <input class="form-control input__settings section-banner__input-time" type="date" id=""
                                   value="2018-12-19" min="2018-12-19">
                        </div>
                        <div class="section-banner__centering">
                            <div class="section-banner__input-item section-banner__input-hidden">
                                <select class="input__settings section-banner__input-time">
                                    <option selected="">1 человек, эконом</option>
                                    <option value="1">2 человек, эконом</option>
                                    <option value="2">1 человек, бизнес</option>
                                    <option value="3">Уточнить по телефону</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <button class="button__submit" type="submit" name="button">Найти авиабилеты</button>

        </form>
    </div>


