<section class="section-price">

        <h1 class="section-price__title">Узнай лучшие цены на весь год!</h1>
        <h2 class="section-price__title--sub">Вы можете с економить до 50% подобрав полеты по таблице</h2>


    <div class="section-price__container">
        <div class="section-price__item  section-price__item-month ">
            <!--<h3>Самый дешевый месяц</h3>
            <h4>Мы поможем выбрать, когда цена на выбранное вами направление самая дешевая</h4>-->
        </div>
        <div class="section-price__item   section-price__item-direction ">
            <!--<h3>Самые дешевые  направления</h3>
            <h4>Есть время на отдых, но не определились, куда выгодно полететь? Поможем с выбором</h4>-->
        </div>
        <div class="section-price__item  section-price__item-year ">
            <!--<h3>Цены на ввесь год по направлению</h3>
            <h4>Интересуют все цены на год? У нас вы найдете максимум цен на нужное направление</h4>-->
        </div>

    </div>
</section>
