</section>
<section class="section-aviatickets">
    <div class="section-aviatickets__title">
        <div class="container col-sm-10">
            <h1 class="h1">AVIATICKETS</h1>
            <h2 class="h2">
                Cервис для тех кто хочет оптимально и самостоятельно спланировать<br>небольшое <strong>&</strong>
                большое
                путешествие
            </h2>
        </div>
        <div class="container-fluid col-sm-10 col-md-10 col-lg-10 col-xl-8">
            <div class="section-aviatickets__center-block row">
                <div class="section-aviatickets__description col-sm-12 col-lg-6">

                    <div class="section-aviatickets__text section-aviatickets__text-purse">
                        <h3 class="h3">Дешевые авиабилеты</h3>
                        <div class="h4">Бронируйте дешевые авиабилеты на нашем сайте. Мы
                            сотрудничаем с многимии авиакомпаниями и найдем для вас билет на любое направление по самой
                            низкой цене.
                        </div>
                    </div>

                    <div class="section-aviatickets__text">
                        <h3 class="h3">Это удобно</h3>
                        <div class="h4">Наш сервис мгновенно собирает всю информацию о
                            перелетах и проживании, избавляя вас от необходимости просматривать десятки разных сайтов.
                        </div>
                    </div>

                    <div class="section-aviatickets__text section-aviatickets__text-sun">
                        <h3 class="h3">Это вдохновляет</h3>
                        <div class="h4">С AVIATICKETS вы найдете идеальное место для отдыха
                            - узнавайте, сравнивайте предложения, выбирайте и путешествуйте выгодно.
                        </div>
                    </div>

                </div>
                <div class="section-aviatickets__text-right container-fluid col-sm-12 col-lg-6"></div>
            </div>
        </div>
    </div>
    <!--
    <div>2 500 000</div>
    <div> нашли авиабилеты с AVIATICKETS  </div>
    -->
    <!-- find-->
    <!--
    <ul class="find">
    <li class="find_text"><strong class="find_text_strong">Более 1 млн. </strong>  Отелей, вилл, апартаментов по вссему миру!</li>
    <li class="find_text"><div class="find_text_strong">150 стран </div> в который  можно провести отличный увикенд</li>
    <li class="find_text"><div class="find_text_strong">500 </div> авиакомпаний и лоукостеров с которыми тесно работаем </li>
    </ul>
    -->
</section>
<section class="section-find">
    <h1 class="section-find__title col-sm-10  ">Мы ищем для вас лучшее среди:</h1>
    <div class="section-find__background ">
        <div class="section-find__text "></div>
    </div>
</section>
