<section class="section-flights">
    <h1 class="section-flights__title">Популярные рейсы</h1>
    <div class="section-flights__container  container ">
        <!--<div class="section-flights__column col-sm-4  col-lg-4">-->
        <div class="section-flights__text">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text  ">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg" alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text  ">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg" alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right  ">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg" alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>

        <!--</div>-->
        <!--<div class="section-flights__column col-sm-4  col-lg-4">-->
        <div class="section-flights__text section-flights__text-border-right">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right ">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg" alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right ">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg" alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right ">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg" alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>

        <!--</div>-->
        <!--<div class="section-flights__column col-sm-4  col-lg-4">-->
        <div class="section-flights__text section-flights__text-border-right">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-border-right">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text">Киев<img src="img/plane_trip.svg" alt=""><img src="img/plane_good.svg"
                                                                                         alt="">
            Тель-Авив
        </div>
        <div class="section-flights__text section-flights__text-hidden">Киев<img src="img/plane_trip.svg" alt=""><img
                src="img/plane_good.svg"
                alt="">
            Тель-Авив
        </div>

        <!--</div>-->

    </div>
    </div>
</section>