<section class="section-popular">
    <h1 class="section-popular__title">Популярные направления</h1>
    <h2 class="section-popular__title--sub">Самые популярные города и страны в которые предпочитают летать<br> клиенты
        нашего сервиса</h2>
    <div class="section-popular__container  col-sm-10  col-md-10 col-lg-8">
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>
        <div class="section-popular__item ">
            <div class="section-popular__item-text ">Тель-Авив
                <div class="section-popular__item-text section-popular__item-text-small ">Израиль</div>
            </div>
        </div>

    </div>

    <div class="section-popular__more col-md-9">
        <span class="section-popular__more-span">Ещё<img class="section-popular__more-img" src="/img/dots.svg" alt="more"></span>
    </div>
</section>