<section class="section-mail">
    <div class="container">
        <h5 class="section-mail__title ">Будте в курсе всего самого горяченького</h5>
        <h6 class="section-mail__title--sub ">Получайте каждую неделю секретные предложения от лучших<br> авиакомпаний и отелей
            мира
        </h6>
        <div class="section-mail__form "><img class="section-mail__form-img" src="img/finger-up.svg" alt="">
            <input class="section-mail__input  col-md-7 " type="text" placeholder="Укажите ваш e-mail">
            <button class="section-mail__button-submit" type="submit" name="button">Подписатся</button>
        </div>
    </div>
    <div class="section-mail__plane "></div>
</section>
