doctype
html(lang="ru")
    include includes/head.pug

    body
        include includes/header
        main
            section.banner_background
                h1 Поиск дешевых авиабилетов
                h2 Проверим все цены авиакомпаний, лоукостеров и онлайн продавцов
                .container.row
                    ul.nav.nav-tabs.nav-fill
                        li.nav-item.bg.d-flex.flex-row
                            a.nav-link(href='#')
                                img.nav-tabs_icon(src='img/percentage.svg', alt='')
                                | Авиабилеты
                        li.nav-item.bg
                            a.nav-link(href='#')
                                img.nav-tabs_icon.scale(src='img/coupon.svg', alt='')
                                | Авиаскидки
                        li.nav-item.bg
                            a.nav-link(href='#')
                                img.nav-tabs_icon(src='img/3d-building.svg', alt='')
                                | Отели &
                                |                             Хостелы
                        li.nav-item.bg
                            a.nav-link(href='#')
                                img.nav-tabs_icon(src='img/hotel-building.svg', alt='')
                                | Авиа
                                |                             +
                                |                             Отель
                    // TODO Form
                    form.banner_form.mb280.row
                        .container
                            .form-check.form-check-inline.col-sm-3.col-lg-2
                                input#inlineRadio1.form-check-input(type='radio', checked='', name='inlineRadioOptions', value='option1')
                                label.form-check-label(for='inlineRadio1')  В одну сторону
                            .form-check.form-check-inline.col-sm-4.col-lg-6
                                input#inlineRadio2.form-check-input(type='radio', name='inlineRadioOptions', value='option2')
                                label.form-check-label(for='inlineRadio2')  В обе стороны
                            .form-check.form-check-inline.right.col-sm-4.col-lg-3
                                span.blue
                                    img(src='img/check.svg', alt='')
                                    |                        Отели со скидкой
                        .form-group.col-sm-3
                            label(for='Location') Откуда
                            input#Location.form-control.set(type='text', placeholder='Город отлета')
                        img.form_pointer(src='img/pointer.svg', alt='')
                        .form-group.col-sm-3.ml6
                            label(for='where') Куда
                            input#where.form-control.plane_icon.set(type='search', placeholder='Город прилета')
                        .form-group.col-sm-2
                            label(for='There') Туда
                            input#There.form-control.set(type='date', value='2018-09-19', min='2018-09-19')
                        .form-group.col-sm-2
                            label(for='There') Туда
                            input.form-control.set(type='date', id='', value='2018-09-20', min='2018-09-19')
                        .form-group.col-sm-2
                            label.label_hidden(for='') Класс
                            label
                                select
                                    option(selected='') 1 человек, эконом
                                    option(value='1') 2 человек, эконом
                                    option(value='2') 1 человек, бизнес
                                    option(value='3') Уточнить по телефону
                        button.button_submit(type='submit', name='button') Найти авиабилеты
                // TODO Price
                .gradient
                    .h1 Узнай лучшие цены на весь год!
                    h2 Вы можете с економить до 50% подобрав полеты по таблице


            section.white
                .price
                    .container
                        .row.justify-content-around
                            .price_element.month.col-sm-4
                                //
                                  <h3>Самый дешевый месяц</h3>
                                  <h4>Мы поможем выбрать, когда цена на выбранное вами направление самая дешевая</h4>
                            .price_element.direction.col-sm-4
                                //
                                  <h3>Самые дешевые  направления</h3>
                                  <h4>Есть время на отдых, но не определились, куда выгодно полететь? Поможем с выбором</h4>
                            .price_element.year.col-sm-4
                                //
                                  <h3>Цены на ввесь год по направлению</h3>
                                  <h4>Интересуют все цены на год? У нас вы найдете максимум цен на нужное направление</h4>
                // TODO Aviatickets
                .container.col-sm-10
                    h1 AVIATICKETS
                    h2
                        | Cервис для тех кто хочет оптимально и самостоятельно спланировать
                        br
                        |  небольшое
                        strong &
                        |                     большое
                        |                     путешествие
                .container
                    .row.center-block.avia
                        .aviatickets_text_left.col-sm-4.col-lg-6
                            .aviatickets
                                h6 Дешевые авиабилеты
                                .aviatickets_text.purse
                                    | Бронируйте дешевые авиабилеты на нашем сайте. Мы
                                    | сотрудничаем с
                                    | многимии авиакомпаниями и найдем для вас билет на любое направление по самой низкой
                                    | цене.
                                h6 Это удобно
                                .aviatickets_text
                                    | Наш сервис мгновенно собирает всю информацию о перелетах и
                                    | проживании,
                                    | избавляя вас от необходимости просматривать десятки разных сайтов.
                                h6 Это вдохновляет
                                .aviatickets_text.sun
                                    | С AVIATICKETS вы найдете идеальное место для отдыха -
                                    | узнавайте,
                                    | сравнивайте предложения, выбирайте и путешествуйте выгодно.
                        .aviatickets_text_right.col-sm-8.col-lg-6
                //
                  <div>2 500 000</div>
                  <div> нашли авиабилеты с AVIATICKETS  </div>
                // find
                //
                  <ul class="find">
                  <li class="find_text"><strong class="find_text_strong">Более 1 млн. </strong>  Отелей, вилл, апартаментов по вссему миру!</li>
                  <li class="find_text"><div class="find_text_strong">150 стран </div> в который  можно провести отличный увикенд</li>
                  <li class="find_text"><div class="find_text_strong">500 </div> авиакомпаний и лоукостеров с которыми тесно работаем </li>
                  </ul>
                h1.container.text-left.mb50 Мы ищем для вас лучшее среди:




            section.find_background
                .find_background_text

            section.mail
                .container
                    h5 Будте в курсе всего самого горяченького
                    .mail_text
                        | Получайте каждую неделю секретные предложения от лучших
                        br
                        |  авиакомпаний и отелей
                        |                 мира
                    .mail_form
                        img.mail_form_img(src='img/finger-up.svg', alt='')
                        input.mail_form_input.col-sm-8.col-lg-6(type='text', placeholder='Укажите ваш e-mail')
                        button.mail_form_button_submit(type='submit', name='button') Подписатся
                .mail_plane

            section.container-fluid.gray
                h1 Популярные направления
                h2
                    | Самые популярные города и страны в которые предпочитают летать
                    br
                    |  клиенты нашего сервиса
                .container.d-flex.justify_content-around.row
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                    .popular
                        .popular_text
                            | Тель-Авив
                            .popular_text_small Израиль
                .title.container
                    span.more
                        | Ещё
                        img.dots(src='/img/dots.svg', alt='')

            h1.h1.mb75 Популярные рейсы

            section.row.container.pb110
                .col-sm-4.col-lg-4
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                .col-sm-4.col-lg-4
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                .col-sm-4.col-lg-4
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив
                    .flight_text
                        | Киев
                        img(src='img/plane_trip.svg', alt='')
                        img(src='img/plane_good.svg', alt='')
                        |                 Тель-Авив




        include includes/footer

        //include includes/modal

        include includes/scripts

