.section-mail {
  background: #00BBFF;
  //background: #16bcff;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  bottom: 78px;
  margin: auto;
  max-width: 1920px;
  .section-mail__title{
    margin-top: 4px;
    margin-left: 43px;
    line-height: 1.1;
    font-weight: 600;
    &--sub{
      font-size: 21px;
      line-height: 1.1;
      letter-spacing: 0.8px;

      margin-top: 10px;
      margin-bottom: 35px;
      margin-left: 43px;
      position: relative;
      z-index: 5;

      font-weight: 300;
      color: #FFFFFF;
    }
  }

  &__form {
    margin-bottom: 95px;
  }
  &__form-img {
    background: url('img/finger-up.svg') no-repeat;
    background-size: cover;
    width: 40px;
    height: 30px;

    margin-right: 12px;
    margin-left: 4.55%;
    margin-bottom: 6px;

    opacity: 0.729;
    z-index: 555;
    position: relative;
  }
  &__input {
    border: 1px solid rgb(206, 213, 229);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    max-width: 630px;
    height: 52px;

    font-size: 18px;
    color: rgb(206, 213, 229);
    line-height: 1.2;
    padding: 10px;

    position: relative;
    z-index: 4;
    vertical-align: baseline;
  }
  &__button-submit {
    position: relative;
    right: 190px;
    bottom: 1.5px;
    padding: 10px 40px;
    z-index: 55;
    border: 1px solid rgb(255, 102, 0);
    border-radius: 5px;
    background-color: rgb(255, 126, 0);
    font-size: 15px;

    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
  &__plane {
    background: url("/img/plane.png");
    background-size: cover;
    width: 355px;
    height: 280px;

    position: absolute;
    left: 63.8%;
    bottom: 0px;
  }
}

/* Landscape tablets and medium desktops */
@media(max-width: 1199px) {
  .section-mail {
    &__plane {
      width: 255px;
      height: 220px;

      z-index: 5;
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section-mail {
    &__plane {
      display: none;
    }
    &__form {
      margin-bottom: 60px;
    }
    &__form-img {
      margin: 0px;
      margin-right: 15px;
    }
    &__button-submit {
      left: 72.7%;
      bottom: 48px;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-mail {
    bottom: 79px;
    &__form-img {
      display: none;
    }
    &__button-submit {
      left: 63.5%;
      bottom: 48px;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-mail {
    .h5 {
      font-size: 36px;
    }
    .h6 {
      font-size: 20px;
    }
    &__form {
      margin-bottom: 40px;
    }
    &__input {
      font-size: 17px;
    }
    &__button-submit {
      padding: 10px 29px;
      width: 35.5%;
      right: 180px;
    }
    &__plane {
      display: none;
    }
  }
}

/* Phones*/
@media (max-width: 495px) {
  .section-mail {
    flex-direction: column;
    .h5 {
      font-size: 32px;
      margin-left: 30px;
    }
    .h6 {
      font-size: 19px;
      margin-left: 30px;
    }
    &__input {
      height: 44px;
      font-size: 16px;
    }
    &__button-submit {
      width: 35%;
      bottom: 40px;
      padding: 7.5px 2px;

      font-size: 13px;
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section-mail {
    .h5 {
      font-size: 28px;
      margin-left: 30px;
    }
    .h6 {
      font-size: 18px;
      margin-left: 30px;
    }
  }
}

