.section-flights {
  padding-bottom: 100px;
  margin: auto;
  &__container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;

  }
  .section-flights__title {
    font-size: 60px;
    line-height: 1.2;
    margin-top: 9px;
    margin-bottom: 73px;
  }
  &__text {

    font-size: 20px;
    color: rgb(147, 154, 170);

    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 8px;

    img {
      margin: 0px 10px;
    }

    &:hover {
      color: rgb(0, 0, 0);

      border-radius: 15px;
      border-right: none;
      background-color: rgb(249, 250, 252);
    }
    &-border-right {
      //border-right: 1px solid lightgrey;
    }

  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section-flights {
    text-align: center;
    margin: auto;
    &__container {
      min-width: 95%;
    }
    img {
      margin: 0 5px;
    }
    &__column {
      padding: 0px;
    }
    &__text {
      font-size: 18px;
    }

  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-flights {
    &__text {
      min-width: 280px;
      &-hidden {
        display: none;
      }
      &-border-right {
        border-right: none;
      }
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-flights {
    padding-bottom: 0px;
    margin-bottom: 50px;
    text-align: center;
    .h1 {
      margin-bottom: 40px;
    }
    &__text {
      font-size: 20px;
      min-width: 280px;
      margin: auto;
      padding: 8px 0px;
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section-flights {
    &__text {
      font-size: 18px;
      min-width: 100px;
    }
  }
}