.section-aviatickets {
  max-width: 1940px;
  margin: auto;
  margin-top: 46px;
  .section-aviatickets__title {
    .h1 {
      font-size: 50px;
      letter-spacing: 1.3px;
      line-height: 1.2;

    }
    .h2 {
      margin-top: 6px;
      line-height: 1.2;
      margin-bottom: 128px;
    }
    .h3 {
      font-size: 18px;
      color: rgb(58, 58, 58);
      line-height: 1.2;
      font-weight: bold;
    }
    .h4 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.2px;
      color: #6a6e78;
    }
    strong {
      font-weight: 700;
    }
  }
  &__text {
    margin-left: 40px;
    margin-bottom: 46px;
    padding: 0 0 0 65px;
    max-width: 565px;
    position: relative;
    line-height: 1.2;
    letter-spacing: 0.2px;
    &:before {
      content: url("/img/plane.svg");
      background-size: cover;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-purse:before {
      content: url("/img/purce.svg");
    }
    &-sun:before {
      content: url("/img/sun.svg");
    }
  }
  &__text-right {
    background: url('/img/Group01.png') 25% 0% no-repeat;
    min-width: 100px;
    min-height: 180px;
  }
  &__center-block {
    background: url('/img/Layer03.png') no-repeat 40%; /*it's just plane. Let's go trip:)*/
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section-aviatickets {
    margin: auto;
    .h1 {
      font-size: 36px;
      margin-top: 140px;
    }
    .h2 {
      font-size: 22px;
      letter-spacing: normal;
    }
    &__center-block {
      flex-direction: column;
      margin: auto;
      min-width: 100%;
      width: 100%;
      padding: 0px;
    }
    &__text {
      max-width: 100%;
      min-width: 90%;
      &-right {
        margin: auto;
        min-width: 100%;
        width: 100%;
        height: auto;
        min-height: 300px;
        padding: 0px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-aviatickets {
    margin: auto;
    .h1 {
      font-size: 32px;
    }
    .h2 {
      font-size: 20px;
      letter-spacing: normal;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-aviatickets {
    margin: auto;
    .h1 {
      font-size: 28px;
      margin-top: 0px;
    }
    .h2 {
      font-size: 18px;
      letter-spacing: normal;
      margin-bottom: 70px;
    }
    &__text {
      margin-left: 0px;
    }
    &__description {
      flex: 2 2;
      flex-wrap: wrap;
      display: flex;
    }
    &__text-right {
      flex: 1 1;
      display: flex;
    }
    &__description {
      padding: 0px;
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
}


