.section-price {

  padding-bottom: 200px;
  &__gradient {
    background: linear-gradient(180deg, rgb(244, 244, 245) 10%, rgb(255, 255, 255) 90%);
  }
  .section-price__title{
    font-size: 49px;
    letter-spacing: -0.8px;
    font-weight: 600;

    &--sub{
      margin-top: -4px;
      letter-spacing: 0.8px;
      margin-bottom: 130px;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1264px;
    //
    //background-color: #FEFFFF;
  }
  &__item {

    background-size: 100%;
    background-color: #f5f5f5;

    max-width: 345px;
    min-width: 150px;
    height: 335px;
    width: 100%;

    justify-content: space-between;
    margin: auto;

    &-month {

      background: url('/img/Layer.png') no-repeat;
    }
    &-direction {
      position: relative;
      right: 6px;
      background: url('/img/Layer01.png') no-repeat;
    }
    &-year {
      position: relative;
      right: 34px;
      background: url('/img/Layer02.png') no-repeat;
    }
  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-price{
    &__item{
      margin-top: 50px;
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section-price {
    .h1 {
      font-size: 46px;
    }
    .h2 {
      font-size: 22px;
      letter-spacing: normal;
    }
    &__container {

    }
    &__item {

    }
    &__item {
      &-direction {
        right: 0px;
      }
      &-year {
        right: 0px;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-price {
    .h1 {
      font-size: 36px;
    }
    &__container{

    }
    &__item{
      margin-top: 20px;

    &-direction{

    }
      &-year{

      }
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-price {
    display: none;
    &__container {
      display: flex;
      flex-direction: column;
      padding-left: 5%;
    }
    &__item {

      margin-top: 0px;
      margin-bottom: 0px;
      background-size: 95%;

    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section-price {
    &__container {
      text-align: center;
    }
  }
}
