.section-popular {
  background: #f9fafc; //lightgray
  position: relative;
  bottom: 78px;
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  .section-popular__title {
    padding-top: 106px;
    line-height: 1.2;
    font-size: 60px;
    font-weight: 600;
    &--sub{
      font-size: 24px;
      margin-top: 7px;
      line-height: 1.25;
      margin-bottom: 65px;
    }
  }

  &__item {

    background: rgb(27, 25, 26) url('/img/tel.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px;

    min-width: 282px;
    min-height: 165px;

    display: flex;
    flex-direction: column;

    color: #FFFFFF;
    overflow: hidden;
    padding: 0px;

    margin-top: 0px;
    margin-bottom: 15px;

    transition: 0.4s;

    &-text {
      margin-top: auto;
      padding: 5px 20px;

      background: rgba(0, 0, 0, 0.612);
      transition: 0.5s;

      line-height: 1.2;
      font-size: 18px;
      color: rgb(255, 255, 255);
      &-small {
        background: none;
        transition: 0.5s;
        font-size: 14px;
      }
    }
  }

  &__item:hover {

    padding: 40px;
    transition: 0.4s;

    box-shadow: inset 100px 100px 100px 100px rgba(0, 0, 0, 0.612);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    &-text:hover {
      transition: 0.4s;
      background: none;
      font-size: 24px;
      font-weight: bold;
      &-small:hover {
        font-size: 20px;
        transition: 0.4s;
        font-weight: normal;
      }
    }
  }
  &__more {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(106, 110, 120);

    text-align: center;
    padding: 56px 20px 92px;
    overflow: hidden;

    margin: auto;
    &-span {
      margin-left: 20px;
      margin-right: 20px;
    }
    img {
      margin-left: 10px;
    }

    &:before, &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background-color: rgba(145, 145, 145, 0.45);
    }
    &:before {
      margin-left: -100%;
    }
    &:after {
      margin-right: -100%;
    }
    &-img {
      opacity: 0.45;
      width: 18px;
    }
  }
  &__item-text:hover {
    transition: 0.1s;
    background: none;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-popular {
    &__container {
      max-width: 70%;
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section-popular {
    &__container {
      padding: 0px;
      max-width: 80%;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-popular {
    &__container {
      max-width: 100%;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-popular__title{
    padding-top: 50px!important;
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .section-popular {
    .h1 {
      font-size: 28px;
      padding-top: 50px;
    }
    .h2 {
      font-size: 18px;
      margin-bottom: 60px;
    }
    &__container {
      padding: 0px;
    }
    &__item {
      margin: 10px auto;
    }
  }
}