.section-find {
  .section-find__title{
    margin-top: 236px;
    position: relative;
    right: 30px;
    font-size: 50px;
    letter-spacing: 0.2px;
  }
  &__background {
    background-size: cover;
    background: url("/img/plane__main.png") no-repeat scroll 50% 10%;

    max-height: 650px;
    min-height: 585px;
    position: relative;
    bottom: 78px;

    z-index: -1;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-find {
    .h1 {
      font-size: 36px;
      margin-top: 150px;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-find {
    .h1 {
      font-size: 28px!important;
      margin-top: 100px;
    }
    display: none;
  }
}

/* Small phones*/
@media (max-width: 380px) {
}
