.section-banner {

  background: #f5f5f5 url('/img/Group.png') no-repeat 100% 1.8%;
  background-size: cover;

  &__title {
    padding-top: 196px;
    font-size: 49px;
    letter-spacing: -0.32px;

    &--sub {
      margin-bottom: 126px;
      margin-top: 0;
      letter-spacing: rem(0.1);
    }
  }

  &__tabs {
    text-align: center;
    margin: auto;

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      min-width: 190px;
    }
    a:hover {
      color: rgb(0, 0, 0);
    }
  }
  .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    position: relative;
    z-index: 5555;
    max-width: 800px;
    border-bottom: 0px;
  }
  .nav-item {
    position: relative;

    z-index: 55;
    border-radius: 6px 6px 0px 0px;
    background-color: rgba(255, 255, 255, 0.51);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.82);
      border: none;
      outline: none;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.82) !important;
      border: none;
      outline: none;
    }

    .nav-link {
      margin-right: 0px;
      //background: url("/img/percentage.svg") no-repeat 2% 0%;
      background-size: 20px;
      border: none !important;

      outline: none;
      padding: 0px;
      position: relative;
      z-index: 20;
      &-img {
        width: 20px;
        margin-right: 8px;
      }
    }
  }
  &__form {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.17);
    position: relative;
    z-index: 5;
    padding: 35px 12px 42px;
    margin-left: -20px;

    max-width: 1132px;
    text-align: left;

    margin-bottom: 258px;
    &-check {
      margin-right: 5px;
    }
    &-one {
      flex: 1 1;
      min-width: 150px;
    }
    &-round {
      flex: 4 4;
    }
    &-sale {
      flex: 1 1;
      color: #004b85;
      font-weight: 600;
      min-width: 180px;
    }
  }
  .sale {
    width: 16px;
    position: relative;
    bottom: 10px;
  }
  label {
    padding-left: 10px;
  }
  &__radio {
    display: flex;
    justify-content: space-between;
    max-height: 42px;
    padding-left: 25px;
    padding-bottom: 6px;
  }
  &__input {
    max-width: 1132px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    padding-left: 25px;
    padding-right: 25px;

    &-location {
      max-width: 320px;
      min-width: 100px;
      width: 100%;
    }
    &-where {
      max-width: 295px;
      min-width: 100px;
      width: 100%;
      z-index: 8;

    }
    &-there {
      min-width: 110px;
      max-width: 110px;
    }
    &-hidden {
      select {
        min-width: 200px;
        max-width: 100%;
        margin-top: 28px;
      }
    }
    .label_hidden {
      opacity: 0;
    }
  }
  select, .input__settings {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(206, 213, 229);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin-bottom: 10px;

    opacity: 1;
    position: relative;
    z-index: 55;
    bottom: 3px;
  }

  .radio + label {
    cursor: pointer;
  }
  .radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

  }
  .radio + label {
    position: relative;
    padding: 0 0 0 25px;
    cursor: pointer;
    margin-left: 12px;

  }
  .radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
  }
  .radio + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #004b85;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s;
  }
  .radio:checked + label:after {
    opacity: 1;
  }
  input[type="radio"]:checked + label {
    font-weight: bold;
    color: #004b85;
  }
  &__input-01 {
    background: url("/img/input01.svg") 5% 50% no-repeat;
  }
  &__input-02 {
    background: url("/img/input02.svg") 5% 50% no-repeat;
  }
  .input__placeholder {
    padding: 0px 40px;
  }
}

.form_pointer {
  width: 2px;
  height: 2px;
  top: 50px;
  right: 4px;

  position: relative;
  transform: scale(12.0);
  z-index: 888;
}

.button__submit {

  border: 1px solid rgb(255, 102, 0);
  border-radius: 5px;

  background-color: rgb(255, 126, 0);
  text-transform: uppercase;

  height: 52px;
  max-width: 264px;
  width: 100%;

  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 16px auto auto;
}
/// tabs&form///
.tab-content {
  width: 100%;
}
.nav-tabs {
  border: none !important;
}
.nav-item {
  border: none !important;
}
.nav-link {
  border: none;
}
.nav-tabs:hover {
  border: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.white {
  background: none !important;
}
/// End of tabs&form ///
/* Desktops */
@media (min-width: 1200px) and (max-width: 1510px) {
  .section-banner {
    background-color: #F6F6F7;
    .h1 {
      padding-top: 150px;
    }
    .h2 {
      margin-bottom: 140px;
    }
    &__form {
      margin: auto auto 180px;
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .ml6 {
    margin-left: 0px;
  }
  .section-banner {
    background-color: #F6F6F7;
    .form_pointer {
      right: 0px;
    }
    .h1 {
      padding-top: 150px;
    }
    .h2 {
      margin-bottom: 140px;
    }
    &__form {
      margin: auto auto 180px;
    }
    &__input {
      justify-content: space-between;
      &-there, select {
        margin-right: 50px;
        min-width: 25%;
      }
      &-location, &-where {
        max-width: 49.5%;
      }
      .input__placeholder {
        padding: 0px 50px;
      }
    }
    select {
      padding: 10px;
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section-banner {
    background-color: #F6F6F7;
    .h1 {
      font-size: 46px;
    }
    .h2 {
      letter-spacing: normal;
      font-size: 22px
    }
    &__tabs {
      a {
        min-width: 60px;
        font-size: 14px;
      }
    }
    &__nav {
      bottom: 3px;
      &-item {
        padding: 6px 15px;
      }
    }
    &__form {
      padding: 22px 7px 32px;
    }
    &__input {
      &-there, select {
        margin-right: 20px;
        min-width: 160px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .section-banner {
    background-color: #F6F6F7;
    .h1 {
      font-size: 36px;
      padding-top: 80px;
    }
    .h2 {
      letter-spacing: normal;
      font-size: 22px;
      margin-bottom: 120px;
    }
    &__tabs {
      min-width: 95%;
      min-width: 100%;
      width: 100%;

      & a{
        width: 100%;
        min-width: 50px;
        font-size: 14px;
      }
    }
    .nav {
      display: flex;
      width: 90%;
      flex-direction: column;
      margin: auto;
      justify-content: space-around;
    }
    &__nav {
      bottom: 5px;

      &-item {
        padding: 3px 4px;
        margin: auto;
        font-size: 12px;
      }
      &-tabs{
        width: 90%;
      }
      &-tab{
      }
      &-icon {
        width: 16px;
        margin-right: 5px;
        &-scale {
          transform: scale(1.9) rotate(-25deg);
        }
      }
    }
    &__form {
      padding: 20px 0px 32px;
      margin-bottom: 155px;
      width: 94%;
      margin: auto;
    }
    .form_pointer {
      right: 0px;
    }
    &__input {
      &-there, select {
        margin: auto;
        min-width: 49%;
      }
      select {
        margin-top: 25px;
      }
      &-where, &-location {
        width: 49%;
        margin: auto;
      }
    }
    select {
      width: 264px;
      padding-left: .375rem;
    }
    &__centering {
      width: 100%;
      text-align: center;
    }
    .hide{
      display: none;
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .section-banner {
    &__title {
      padding-top: 140px;
      &--sub {
        margin-bottom: 60px;
      }
    }
    .nav {
      display: flex;
      width: 90%;
      flex-direction: column;
      margin: auto;
      justify-content: space-around;
    }
    &__form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      padding-top: 10px;
      margin: auto auto 100px;
      &-one, &-round {
        font-size: 14px;
      }
      &-sale {
        font-size: 13px;
        display: none;
      }
    }
    &__input-time {
      padding-left: 10%;
      padding-right: 10%;
    }
    &__radio {
      text-align: center;
      flex-wrap: wrap;

      padding-left: 5%;
      padding-top: 5px;
      letter-spacing: -0.5px;
    }
    input {
      letter-spacing: -0.6px;
    }
    &__tabs{
      min-width: 100%;
      width: 100%;

      & a{
        width: 100%;
      }
    }
    .nav-link{
      border-radius: 3px 3px 0 0;

      border: 1px solid #d3daea !important;
      border-bottom: none!important;
      border-top: none;
      background-color: #f0f0f0;
    }
    .nav{
      width: 99.8%;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      text-align: center;
      padding: 4px;

      background-color: #FFFFFF;
      border-radius: 3px;

      box-shadow: 0 1px 14px 0 rgba(0, 0, 0, .17);
      top: 4px;
      &-item {
        width: 100%;
        border-radius: 3px;
        padding: 5px;
        margin: 2px;

        background-color: rgba(213, 213, 213, 0.5);
        opacity: 0.7;
        &_active {
          background-color: #FFFFFF;
          opacity: 1;
        }
      }
      &-link{
        width: 100%;
      }
    }
    .hide{
      display: none;
    }
    &__form-round:last-child{
      display: none;
      opacity: 0;
    }
    .input__settings, select {
      height: 40px;
    }

    &__input-01 {
      background: url("/img/input01.svg") 4% 50% no-repeat;
    }
    &__input-02 {
      background: url("/img/input02.svg") 4% 50% no-repeat;
    }

    .input__placeholder {
      padding: 0px 0px 0px 30px;
    }
    &__input-01, &__input-02 {
      background-size: 16px;
    }
    &__form-one, &__form-round {
      font-size: 13px;
      padding: 0px;
      margin: 0px;
    }
  }
  .form_pointer {
    display: none
  }
  &__input {
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-item {
      min-width: 90%;
      align-items: center;
    }
  }
  .button__submit {
    height: 42px;
  }
}

/* Small phones */
@media (max-width: 380px) {
  .section-banner {
    &__tabs {
      align-items: center;
      padding: 10px;
      margin: auto;
    }
    .radio + label {
      margin-left: 7px;
    }
    .input__placeholder {
      font-size: 12px;
      padding: 0px 0px 0px 25px;
    }
    &__input-01, &__input-02 {
      background-size: 14px;
    }
    .input__settings, select {
      height: 35px;
    }
  }
}


