footer {
  font-size: 14px;

  line-height: 1.2;
  color: rgba(255, 255, 255, 0.722);
  background-color: rgb(51, 59, 78);
}

.footer {
  &__text {
    padding: 0px 0px 0px 2%;

  }
  &__buttons {
    padding-left: 2%;
    margin: auto;
  }
  &__button {

    margin-right: 7px;
    margin-top: 50px;
    margin-bottom: 40px;

    border: 1px solid rgb(255, 102, 0);
    border-radius: 6px;

    background-color: rgb(255, 126, 0);

    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    width: 45%;
    max-width: 340px;

    height: 53px;
  }

  &__text-small {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.302);

    padding-bottom: 5px;
    margin-right: 20px;
    margin-top: 5px;
  }
  &__photo {
    filter: saturate(0%);
    opacity: 0.5;
  }

  &__nav {
    margin: auto;

    padding-top: 42px;
    padding-bottom: 60px;

    a {
      text-decoration: none;
    }
    a:hover {
      color: #fff;
    }
    &-item {
      font-size: 14px;
      color: #ffffff;
      margin-right: 25px;
      &:before {
        content: "\2B24";
        margin-right: 5px;
        color: #ff7e00;
        font-size: 10px;
        vertical-align: center;

      }
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-left: 2%;
  }
  &__buttons {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
  }
  &__right-block {
    max-width: 310px;
    position: relative;
    bottom: 31px;
    text-align: right;
  }
  &__photo {
    display: flex;
    align-items: center;
    &-item {
      margin: 0px 5px;
    }
  }
  &__icon {
    margin-right: 10px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .footer {
    &__nav {
      display: flex;
      flex-direction: column;
      padding-left: 10%;
      padding-bottom: 40px;
    }
    &__buttons {
      flex-direction: column;
      margin: 20px 0px 0px;
      padding: 0px;
    }
    &__button {
      width: 85%;
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__text {
      margin-top: 50px;
      text-align: center;
    }
    &__right-block {
      padding-top: 50px;
      margin: auto;
      bottom: 0px;
    }
  }
}

/* Small phones*/
@media (max-width: 380px) {
  .footer {
    &__right-block {
      padding-left: 0px;
      padding-right: 0px;
    }
    &__text-small {
      flex-wrap: wrap;
    }
    &__photo {
      flex-wrap: wrap;
    }
    &__nav-item {
      font-size: 13px;
    }
  }
}


