$header-line-size: 6px;
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 74px;

  background-image: linear-gradient(90deg, rgb(22, 188, 255) 74%, rgb(18, 177, 241) 86%, rgb(14, 166, 227) 100%);
  box-shadow: 0px 0px 40.85px 2.15px rgba(106, 110, 120, 0.11);
  margin: 0 0;

  &__gradient {
    background-image: linear-gradient(-6deg, rgb(255, 173, 0) 0%, rgb(255, 150, 0) 71%, rgb(255, 126, 0) 100%);

    height: 6px;
    z-index: 426;
  }

  &:before {
    position: absolute;
    top: -$header-line-size;
    left: 0;

    width: 100%;
    height: 6px;

    content: '';
    background: linear-gradient(-6deg, rgb(255, 173, 0) 0%, rgb(255, 150, 0) 71%, rgb(255, 126, 0) 100%);
  }

  &__logo {
    flex: 2 2;
    margin-left: 3.8%;
    margin-top: -5px;
  }

  &__text {
    flex: 1 1;
    margin-top: -10px;
    margin-left: 8.1%;
    max-width: 250px;

    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.2;

  }

  &__phone {
    flex: 1 1;
    font-size: 27px;

    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 0px 7.28px rgba(106, 110, 120, 0.47); //0.47

    font-weight: 700;
    color: rgb(255, 255, 255);
    position: relative;
    letter-spacing: -1px;

    bottom: 1px;
    right: 18px;

  }

  &__account {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.4;

    flex: 2 2;
    padding-left: 30px;
    max-width: 190px;
    position: relative;
    bottom: 4px;
    right: 37px;
    &-icon-img {
      position: relative;
      right: 15px;
      bottom: 1px;
    }
  }

  &__language {
    flex: 1 1;

    max-width: 31px;
    height: auto;
    margin-right: 4.25%;
    width: 100%;
    position: relative;
    bottom: 3px;
  }
  .sub-menu {
    display: none;
    text-align: center;
    margin-bottom: 10px;
    &__item {
      display: flex;
      max-width: 50px;
      min-width: 40px;
      justify-content: space-around;

      margin: auto;
      padding-top: 10px;
      &-img {
        width: 31px;
        height: 31px;
      }
      &-active {
        color: #FFFFFF;
      }
    }
  }
  .btn {
    border: none;
    background: none;
  }
  .btn:focus {
    border: none;
    background: none;
  }
  .show {
    border: none;
    background: none;
    max-width: 80px;
  }

  .dropdown {
    &-menu {
      top: 100% !important;
      left: 40 !important;
      right: 0 !important;

      transform: none !important;
      width: max-content !important;
      min-width: auto !important;
      background-color: white;

      padding: 8px 0;
      &.show {
        display: flex;
        flex-flow: column;

      }
    }

    &-item {
      display: inline-flex;
      width: max-content;

      padding: 0 8px;
      img {
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }

  }

  .header__menu:hover ~ .sub-menu,
  .header__menu:active ~ .sub-menu,
  .sub-menu:hover {
    display: block;
    position: absolute;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.71);
  }

  a {
    color: inherit !important;
    text-decoration: none;
  }

  /* Desktops */
  @media (min-width: 1200px) and (max-width: 1510px) {
    .header {
      &__text {
        margin-left: 0%;
      }
      &__phone {
        font-size: 25px;
      }
      &__account {
        padding-left: 2%;
        &-icon-img {
          width: 17px;
          right: 8px;
        }
      }
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    min-height: 70px;
    &__logo {
      flex: 2 2;
      margin-left: 2%;
      img {
        max-width: 230px
      }
    }
    &__text {
      font-size: 15px;
      flex: 3 3;
      margin-left: 6%;
    }
    &__phone {
      flex: 2 2;
      font-size: 19px;
      margin-left: 0%;
    }
    &__account {
      flex: 2 2;
      font-size: 18px;
      left: 0px;

      &-icon-img {
        width: 16px;
        right: 8px;
      }
    }
    &__language {
      flex: 2 2;
      margin-right: 5%;
      max-width: 26px;
      box-sizing: border-box;
      width: 26px !important;
      img {
        width: 22px;
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    display: flex;

    min-height: 70px;
    &__logo {
      flex: 2 2;
      margin-left: 1.5%;
      img {
        max-width: 160px
      }
    }
    &__text {
      font-size: 14px;
      flex: 3 3;
      margin-left: 2%;
    }
    &__phone {
      flex: 2 2;
      font-size: 17px;

    }
    &__account {
      flex: 2 2;
      font-size: 16px;
      padding-left: 15px;
      left: 6px;
      &-icon-img {
        width: 14px;
        right: 5px;
      }
    }
    &__language {
      flex: 2 2;
      margin-right: 5%;

    }
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    min-height: 59px;
    &__logo {
      flex: 1 1;
      margin-left: 2%;
      img {
        max-width: 160px
      }
    }
    &__text {
      display: none;
    }
    &__phone {
      flex: 3 3;
      font-size: 19px;
      margin-left: 10%;
    }
    &__account {
      flex: 2 2;
      font-size: 14px;
      padding-left: 5px;
      left: 0px;
      &-icon-img {
        width: 13px;
        right: 5px;
      }
    }
    &__language {
      flex: 1 1;
      margin-right: 5.8%;
      .sub-menu__item-img {
        width: 24px;
      }
    }
  }
}

/* Portrait phones and smaller 480*/
@media (max-width: 595px) {
  .header {
    margin: auto;
    &__logo {
      flex: 1 1;
      margin-left: 5px;
      img {
        max-width: 125px;
      }
    }
    &__phone {
      margin-left: 7.5%;
      flex: 4 4;
      font-size: 14px;
    }
    &__account {
      flex: 1 1;
      left: 5px;
      bottom: 1px;
      &-signin {
        display: none;
      }
    }
    &__language {
      margin-right: 9%;
      .sub-menu__item-img {

      }
    }
  }
}

/* Small phones */
@media (max-width: 380px) {
  .header {
    &__logo {
      margin-left: 5px;
      img {
        max-width: 100px;
      }
    }
    &__phone {
      margin-left: 5%;

      min-width: 35%;
    }
    &__account{

    }
    &__language {
      margin-right: 10%;
    .sub-menu__item-img{
      width: 20px;
    }
    }
  }
}