
.button {
  font-size: rem(8);
  font-family: $font-secondary-family;
  text-align: center;
  text-transform: uppercase;
  padding: rem(10) rem(30);
  color: white;
  outline: none !important;
  box-shadow: 0 rem(5) rem(10) rem(-5) #000;
  border-radius: rem(5);
  border-bottom: rem(2) solid #46619D;
  background-color: #4F90EC;
  cursor: pointer;
  transition: .1s;

  &:active {
    transform: scale(0.995);
  }
}
