
.popup {
  background: white;

  border-radius: rem(5);

  &.modal {
    position: relative;

    overflow: visible;
  }

  .fancybox-close-small {
    display: none;
  }

  .form_head {
    display: flex;
    justify-content: space-between;

    padding: rem(15) rem(25);

    .img img {
      width: 203px;
      display: none;
    }

  }

  .success_window {
    display: none;

    box-shadow: inset 0 rem(16) rem(35) rem(-20) #ccc;
    width: 100%;

    padding: rem(270) rem(40) 0 rem(60);

    font-size: rem(16);
    position: relative;
    line-height: rem(23);
    color: #333;
    font-weight: 500;
    height: rem(500);
    background: url(img/success_window.png) center rem(100) no-repeat;

    .text {
      position: relative;
      padding-top:  rem(13);

      &:before {
        content: "";
        background: url(img/form_done.png) center center no-repeat;
        width: rem(28);
        height: rem(28);
        position: absolute;
        top: rem(10);
        left: -38px;
}
    }
  }
}
